<h1>Burger ME</h1>

<main>
    <div class="row wrapper center">
        <div class="col s3 offset-s1">
            <h3>Burger Requests</h3>
            <ul id="burgerRequests">
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col s4">
            <img class="responsive-img" src="/assets/images/burger.png">
        </div>

        <div class="col s3">
            <h3>Burgers Eaten</h3>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div> {{!-- End of row --}}
</main> {{!-- End of main --}}

<div>
    <h2>Add a Burger</h2>
    <form class="requestBurger">
        <div class="form-group">
            <label for="burgerName">Burger Name:</label>
            <input type="text" id="burgerName" name="burger_name">
        </div>
        <button type="submit">Add Burger</button>
    </form>
</div>