<li class="collection-item amber">
    <div>
        {{burger_name}}
    </div>
    <div>
        {{#unless devoured}}
            <a class="devour waves-effect waves-light btn-small" data-id="{{id}}" data-eaten="{{devoured}}">
                <i class="material-icons right">restaurant</i>
                Eat
            </a>
        {{/unless}}
    </div>
</li>