<footer class="page-footer">
    <div class="container center" id="content">
        <h5>Thanks for visiting!</h5>
    </div>
    <div class="footer-copyright">
        <div class="container brown-text text-darken-3" id="copyright">
            Jordan Schneider © 2018
            <a class="brown-text text-darken-3 right" 
                href="https://github.com/jschneid94/burger">
                Github Repo
            </a>
        </div>
    </div>
</footer>